.card-container {
  max-width: 230px;
  width: 230px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.card-container img {
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.card-container .hover {
  z-index: 10;
  height: max-content;
  width: 20rem;
  position: absolute;
  top: -18vh;
  left: 0;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  transition: 0.3s ease-in-out;
}

.card-container .hover .image-video-container {
  position: relative;
  height: 140px;
}

.card-container .hover .image-video-container img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 0.3rem;
  top: 0;
  z-index: 4;
  position: absolute;
}

.card-container .hover .image-video-container video {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 0.3rem;
  top: 0;
  z-index: 5;
  position: absolute;
}

.card-container .hover .info-container {
  padding: 1rem;
  gap: 0.5rem;
}

.card-container .hover .icons {
  display: flex;
  justify-content: space-between;
}

.card-container .hover .icons .controls {
  display: flex;
  gap: 1rem;
}

.card-container .hover .icons svg {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card-container .hover .icons svg:hover {
  color: #b8b8b8;
}

.card-container .hover .genres ul {
  gap: 1rem;
}

.card-container .hover .genres ul li {
  padding-right: 0.7rem;
}

.card-container .hover .genres ul li:first-of-type {
  list-style-type: none;
}
